    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
	/* Style for the menu on the left */            
    .btn:active, .btn:focus {          
        outline:none !important;          
        box-shadow:none !important;}
	.menu {
		width: 16%;
		position: fixed;
		top: 0%;
		left: 0;          
        border-right: 0.1px solid #b8b8b8;
		background-color: #ffffff;
		height: 100%;          
	}
    #unfollow {
        background-color: rgb(68, 68, 255);
    }
    #unfollow:hover {
        background-color: rgb(125, 125, 255);
    }
	/* Style for the scrolling feed of posts in the middle */
	.feed {          
        background-color: #ffffff;
		width: 50%;
		margin-left: 20%;
		height: 100%;
		overflow-y: scroll;
	}      
    .feed {          
        -ms-overflow-style: none; 
        /* IE and Edge */          
        scrollbar-width: none; 
        /* Firefox */                
    }      
    .feed::-webkit-scrollbar {          
        display: none; 
        /* Chrome, Safari, Opera*/      
    }

	/* Style for individual posts in the feed */
	.post {
		margin-left: 20%;
        
		padding: 10px;
		background-color: #fff;
		width: 60%;
		height: 1200px;
		display: inline-block;
		vertical-align: top;          
        left: 20%;                    
        border-bottom: 2px solid #a6a6a6;
	}      
    .logo{          
        position: absolute;          
        top: 8%;          
        left: 40%;          
        width: 100%;          
        transform: translate(-50%, -50%);          
        font-size: 25px;          
        font-style: italic;          
        padding-left: 22px;          
        font-weight: 500;          
        overflow: hidden;      
    }      
    .iconn{          
        position: absolute;          
        align-items: center;          
        top: 12%;          
        width: 100%;          
        min-height: 10px;          
        padding-left: 20px;          
        overflow: hidden;      
    }      
    .icon-link {            
        border-radius: 20px;            
        left: 30%;            
        width: 90%;            
        color: black;            
        display: inline-block;            
        margin-top: 15px;            
        padding-top: 10px;            
        padding-bottom: 10px;            
        overflow: hidden;      
    }            
    .icon-link:hover {        
        background-color: #f5f5f5;      
    }            
    .icon-link i {        
        margin-right: 20px;      
    }            
    .icon-link span {        
        font-size: 20px;      
    }      
    .bi-house{          
        font-size: 25px;          
        line-height: 25px;          
        color:rgb(0, 0, 0);      
    }      
    .bi-search{          
        font-size: 25px;          
        line-height: 25px;          
        color:rgb(0, 0, 0);      
    }      
    .bi-plus-square{          
        font-size: 25px;          
        line-height: 25px;          
        color:rgb(0, 0, 0);      
    }     
    .bi-person-circle{          
        font-size: 25px;         
        line-height: 25px;          
        color:rgb(0, 0, 0);      
    }      
    .morelist{          
        position: fixed;          
        bottom: 3%;          
        left: 1%;      
    }      
    .bi-list{          
        color: #1c1c1c;          
        font-size: x-large;          
        font-weight: bolder;          
        overflow: hidden;          
        font-style: normal;      
    }      
    .posttop{       
        display: flex;   
        margin-left: 10%;         
        margin-bottom: 20px;
		padding: 10px;
		background-color: #fff;
		width: 80%;
		height: 100px;          
        left: 20%;          
               
            
    }      
    .posttop > div {
        flex: 1;
      }
    .ppt{
        position: relative;
		
		width: 100%;
		height: 10%;          
        
    }      
    .pptr{
        position: relative;
        margin-left: 100px;
        width: 40%;
        
    }
    /*.ppm{    
        position: relative;      
        margin-top: 10px;          
        background-color: #ffffff;
		width: 100%;
		height: 65%;          
        overflow: hidden;
        border-radius: 10px;

    }      
    .ppm img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
      }*/
      .ppm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
		height: 65%;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid black;
      }
      
      .ppm img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        
      }
    .ppd{         
        position: relative;
        margin-top: 0px;          
        background-color: #fff;
		width: 100%;
		height: 7%;          
                 
        display: flex;          
        flex-direction: row;      
    }      
    .ppdd{          
        margin-top: 5px;          
        background-color: #fff;
		width: 100%;
		height: 13%;  
        word-wrap: break-word;
    }      
    .ppddtop{
        height: 30px;
         
        display: flex;
    }
    .likenum{
        font-size: 10px;
        font-weight: 600;
        
    }
    .commentnum{
        font-size: 10px;
        margin-left: 30px;
        font-weight: 600;
        
    }
    .displaycontent{
        border-bottom: 1px solid rgb(88, 113, 255); 
    }
    
    .comment {
        width: 100%;
        height: 100%;
        word-break:break-all;
        overflow-y: scroll; /* add overflow property to enable scrolling */
      }
      .callcom{
        height: auto;
        border-bottom: 1px solid rgb(52, 133, 43);
      }
      
      /* style scrollbar for WebKit-based browsers */
      .comment::-webkit-scrollbar {
        display: none; 
      }
      
    .bi-heart{          
        font-size: 30px;          
        line-height: 30px;          
        color:rgb(0, 0, 0);      
    }
    .bi-heart-fill{         
        font-size: 30px;          
        line-height: 30px;          
        color:crimson;      
    }      
    .heart{          
        margin-left: 5px;          
        margin-right: 5px;         
        margin-top: 10px;      
    }      
    .chat{
        margin-right: 5px;          
        margin-top: 7px;      
    }      
    .bi-chat{          
        font-size: 30px;          
        line-height: 30px;      
    }      
    .send{          
        margin-right: 190px;          
        margin-top: 11px;      
    }      
    .bi-send{         
        font-size: 30px;          
        line-height: 30px;      
    }      
    .book{      
        position: absolute;
        right: 0;    
        margin-top: 10px;      
    }      
    #pontinside .bi-bookmark{          
        font-size: 30px;         
        line-height: 30px;      
    }      
    #pontinside .bi-bookmark-fill{          
        font-size: 30px;          
        line-height: 30px;      
    }      
    .sid{          
        width: 30%;
		position: absolute;
		top: 0%;
		right: 0;
		height: 100%;      
    }      
    .text{          
        margin-top: 50px;          
        display: flex;          
        flex-direction: row;  
          
    }      
    .lefttext{     
        position: relative;   
        width: 100px;        
        height: 100px;        
        margin-left: 10px;        
        margin-right: 20px;   
         
    }      
    .righttext{          
        width: 300px;          
        height: 100px;   
    }      
    .rt{          
        width: 100%;          
        font-size: 20px;          
        margin-top: 15px;      
    }      
    .rd{          
        width: 100%;          
        margin-top: 0px;      
    }
    .p_feed {          
        background-color: #ffffff;
		width: 100%;
		margin-left: 0%;
		height: 100%;
		overflow-y: scroll;
        
	}      
    .p_feed {          
        -ms-overflow-style: none; 
        /* IE and Edge */          
        scrollbar-width: none; 
        /* Firefox */                
    }      
    .p_feed::-webkit-scrollbar {          
        display: none; 
        /* Chrome, Safari, Opera*/      
    }
    .home-profile-image {
        display: inline-block;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%,-50%);
        background-image: linear-gradient(to top right, gold, rgb(250, 133, 79), purple);
        border: 2px solid transparent;
    }
    .home-profile-image img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
      
    }
    .home-left-profile-image {
        display: inline-block;
        width: 70px;
        height: 70px;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: linear-gradient(to top right, gold, rgb(250, 133, 79), purple);
        border: 2px solid transparent;
    }
    .home-left-profile-image img {
        width: 100%;
      height: 100%;
      display: block;
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .last-home-profile-image {
        display: inline-block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 10px;
        transform: translate(0%,-50%);
        background-image: linear-gradient(to top right, gold, rgb(250, 133, 79), purple);
        border: 2px solid transparent;
    }
    .last-home-profile-image img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
      
    }
    .top-profile-image {
        display: inline-block;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        background-image: linear-gradient(to top right, gold, rgb(250, 133, 79), purple);
        border: 2px solid transparent;
    }
    .top-profile-image img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
      
    }
    .echo{
        position: absolute;
        top: 20%;
        left: 45%;
        transform: translate(-50%,-50%);
    }
    
    .under{
        margin-top: 0px;       
        height: 700px;   
        
        
    }
    .under_top{
        color: rgb(143, 143, 143);
    }
    .un_text{     
              
        width: 500px;
        height: auto;             
        display: flex;
        flex-wrap: wrap;
        
    }      
    .un_lefttext{     
        position: relative;   
        width: 100px;        
        height: 100px;        
        margin-left: 10px;        
        margin-right: 20px;   
        
    }      
    .un_righttext{  
               
        width: 200px;          
        height: 100px;   
        
    }      
    .un_rt{          
        width: 100%;          
        font-size: 20px;          
        margin-top: 15px;      
        
    }      
    .un_rd{          
        width: 100%;          
        margin-top: 0px; 
             
    }
    .un_end{          
        color: #000;
        
    }



	/* profile.php */
	.p_post {
		margin-left: 25%;
		padding: 10px;
		background-color: #fff;
		width: 50%;
		height: 250px;
		display: inline-block;
		vertical-align: top;
        left: 20%;
        
        border-bottom: 1px solid #a6a6a6;
	}
    
    
    .cont{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
    .p_lefttext{
      width: 200px;
      height: 200px;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 2%;
    }
    .p_righttext{
        position: relative;
      width: 600px;
      height: 200px;
      
    }
    .p_rt{
    
      width: 100%;
      height: 50px;
      font-size: 20px;
      margin-top: 20px;
      
    }
    .p_rm{
      width: 100%;
      height: 30px;
      margin-top: 10px;
      
      display: flex;
      flex-direction: row;
     
    }
    .p_rd{
      width: 100%;
      height: 40px;
      margin-top: 15px;
      font-weight: 700;
      
    }
    .rm-1{
      margin-right: 50px;
    }
    .rm-2{
      margin-right: 50px;
    }
    .rm-3{
      margin-right: 50px;
    }
    /* label 스타일 조정 */
    /* 못생긴 기존 input 숨기기 */
    #chooseFile {
        visibility: hidden;
    }
    /*.profile-image {
      display: inline-block;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
    }
    .profile-image img {
      width: 100%;
      height: 100%;
      display: block;
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
    }*/
    .profile-image {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
      }
      .profile-image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
        max-height: none;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
      }
      .follow{
        position:absolute;
        right: 0;
        

      }


    /* board.php */
    .create_board {
		width: 84%;
		position: fixed;
		top: 0%;
		right: 0;          
        border: 0.1px solid #000000;
		background-color: #ffffff;
		height: 100%;          
	}


    .bb{
        display: flex;
        height: auto;
    }